/* @media only screen  and (min-width : 1224px) */
body {
  height: 300vh;
}
.landing {
}
nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 4.3em;
  background: rgb(85, 92, 92, 0.3);
  box-shadow: rgb(51, 51, 51) 0px -2px 16px 0px;
  position: fixed;
  top: 0%;
  color: #fff;
  z-index: 3;
  text-transform: uppercase;
}
/* #logo.first-logo{
    background: url("https://monimymonidotcomprdsa.blob.core.windows.net/sitefinity/images/default-source/landing-page/moni-logo-w.png?sfvrsn=d76be1e6_2")
}
#logo.sec-logo{
    background: url("https://monimymonidotcomprdsa.blob.core.windows.net/sitefinity/images/default-source/landing-page/moni-logo-c.png?sfvrsn=3064e1e6_2")
} */
nav.scroll {
  background-color: #fff;
  color: #7474c1;
  border-bottom: solid 1.5px #a4d65e;
  
}
nav ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.nav-list li {
  padding: 0 10px;
  text-transform: uppercase;
}
#logo {
  margin: 0 0 0 50px;
}
#solid {
  background: #a4d65e;
  border: none
}
#clear{
    background: transparent;
border: solid 1px white;
color: #7474c1;

}
.navbtn {
  color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 40px;
  /* border: none; */
  text-transform: uppercase;
}
.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgb(0, 0, 0, 0.4);
  position: absolute;
  top: 0%;
  height: 88vh;
  color: white;
}
.big-text {
    display: flex;
    justify-content: center;
    align-items: center;
  font-family: sans-serif;
  font-size: 45px;
  line-height: 55px;
  text-align: center;
  max-width: 60vw;
  margin: -10% 0 20px 0;
  top: 20%;
}
.small-text {
  text-align: center;
  margin: 0 0 20px 0;
  
}
#sub-text {
  /* position: absolute; */
  font-size: 23px;

  top: 35%;
}
.buttons {
  display: flex;
  justify-content: center;
  font-size: 20px;
  line-height: 28.5;
  top: 45%;
  display: flex;
  width: 100vw;
  margin: 0 0 40px 0 ;
}
.btn {
  margin: 0 30px;
  background: #a4d65e;
  color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 50px;
  border: none;
  text-transform: uppercase;
}
.btn5{
    margin: 3% 0 0 0;
}
.btn:hover {
  cursor: pointer;
  color: #7474c1;
}
.num{
    font-size: 30px;
    font-weight: bold;
}
.special-box{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.special{
    z-index: 2;
    position: absolute;
    top: 66%;
    display: flex;
    justify-content: center;
    margin: auto auto;
}
.section2 {
  background: #7474c1;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 6em;
  width: 100%;
  /* text-align: center; */
  top: 83%;
  position: absolute;
}
.section2 h3{
    margin: 0 0 5px 0;
    font-size: 23px;
}
.section2 p{
    font-size: 10px;
}
.section3 {
  display: flex;
  flex-direction: row;
}
.img1 {
  background: url("./assets/joyce.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  width: 50%;
  height: 65vh;
   display: flex;
   /* flex-direction: column; */
  justify-content: center;
  align-items: flex-end;
}
.img1-content{
      margin: 0 0 5% 0;
       display: flex;
   flex-direction: column;
   align-items: center;
  justify-content: center;
}
.img2-content{
      margin: 0 0 5% 0;    
       display: flex;
   flex-direction: column;
   align-items: center;
  justify-content: center;
}
.img1 h3{
    margin: 0 0 5% 0;
    font-size: 22px;
    font-weight: bold;
}
.img1 a {
    color: white;
    text-decoration: none;
}
.img2 {
  background: url("https://monimymonidotcomprdsa.blob.core.windows.net/sitefinity/images/default-source/nest-landing/image-nest-product.jpg?sfvrsn=c180e3e6_2");
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: 65vh;
  display: flex;
   /* flex-direction: column;   */
  justify-content: center;
  align-items: flex-end;
}
.img2 h3{
    margin: 0 0 5% 0;
    color: #7f888e;
    font-size: 22px;
    font-weight: bold;
}
.img2 a{
    color: #7f888e;    
    text-decoration: none;
    
}
.midsection {
  background: #7474c1;
  color: white;
  font-size: 33px;
  font-family: sans-serif;
  height: 2.2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section4 {
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.part1 {
    position: absolute;    
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.part1 h1{
    color:#7474c1;
    margin: 7% 0 3% 0;
    font-size: 34px;
    font-family: sans-serif;
    font-weight: 500;
    max-width: 500px;
    text-align: center;
    /* line-height: 32px; */
}
.part1 p{
    color: #7f888e;
    font-family: sans-serif;    
    font-size: 18px;
    max-width: 530px;
    line-height: 22px;
    text-align: center;    
}
.part2 {
  margin: 10% 0 0 0;
  width: 100%;
  display: flex;
}
.listitem {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
    color: #7f888e;
font-size: 18px;  
}

.list {
  width: 100%;
  height: 30vh;
  margin: 13.5% 0 0 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.list li {
  display: flex;

  padding: 10px;
}
.icon {
  height: 70px;
  width: 100px;
  margin: 0 0 5% 0;
}
.midsection2 {
  background: #c7c7e6;
  font-size: 20px;
  height: 6.2em;
  color: #7474c1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.midsection2 p{
    max-width: 800px;
    line-height: 22px;
}
.bold{
    font-weight: bold;
}
.section5 {
    color: #7f888e;    
  background: #f1f1f1;
  height: 25vh;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section5 p{
      margin: 0 5%;

}
footer {
  background: #a8a8a8;
  height: 45vh;
}
@media only screen and (max-width: 768px) {
  .landing video, .nav-list {
    display: none;
    /* top: 70%;
    position: absolute; */

  }
  .landing{
  background-position: center center;
    background-image: url("./assets/new-hero-nest.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
  }
  .overlay{
    position: absolute;
    background: grey;
    top: 80%;
  }
  .section2{
    margin: 142% 0 0 0;
  }
  .big-text{
    font-size: 35px;
      line-height: 43px;
  text-align: center;
  max-width: 80vw;
  margin: -15% 0 20px 0;
  }
  .small-text {
  text-align: center;
  margin: 0 0 20px 0;
  
}
#sub-text {
  /* position: absolute; */
  font-size: 18px;
  max-width: 80vw;
  top: 35%;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 30px;
  line-height: 28.5;
  top: 45%;
  display: flex;
  width: 100vw;
  margin: 0 0 40px 0 ;
}
.btn {
  margin: 0 30px 10px 30px;
  font-size: 17px;
  
  background: #a4d65e;
  color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 50px;
  border: none;
  text-transform: uppercase;
}
  .special{
    z-index: 2;
    position: absolute;
    height: 15%;
    top: 153%;
    display: flex;
    justify-content: center;
    margin: auto auto;
}
#topbtn{
  width: 45vw;
  margin-bottom: 15px;
}
#bottombtn{
  width: 50vw;
}
}
